*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body{
  background:
  linear-gradient(to bottom left,transparent 49.8%,#E0E6E5 50%) top   /100% 35%,
  linear-gradient(to top    left,transparent 49.8%,#E0E6E5 50%) bottom/100% 35%,
  linear-gradient(#E0E6E5,#E0E6E5) center/100% 30%;
  background-repeat:no-repeat;
  background-color: rgb(219, 235, 240);
  overflow: visible;
  max-width: auto;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}



/* Navbar */
#navbar{
  width: 100%;
  margin-bottom: -17px;
  background-color: rgb(59, 5, 146);
  font-family: pokemon;
}

.inline-block-element{
  display: inline-block;      
  padding: 2px 40px;
  color: rgb(229, 243, 30);
  font-weight: normal;
  font-size: 2vh;
}


/* Header */
#header{
  max-width: 100%;
  height: 45vh;
  background-position: top;
  background-size: cover;
  position: relative;
  margin: 0;
  margin-bottom: -15px;
}


#logo{
  max-width:50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-text > h1,h3 {
  margin: 0;
}


/* QR */
.qr{
  width: 20vh;
  height: 20vh;
}

#qrs > h1 {
  padding: 4vh 0 2vh 0;
  font-size: 2.5vh;
}

.qrContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3vh 2vh;
}

.qrContainer > h3 {
  padding-bottom: 3vh;
  font-size: 4vh;
}

 #qrtitile {
  margin: 0;
  position: relative;
  background: rgb(229, 243, 30);;
  color: navy;
  font-family: pokemon;
  padding: 5vh 0 2vh 0;
}

#qrtitle > h1 {
  font-size: 3vh;
}

.btn {
  width: 30vh;
  height: 9vh;
  border-radius: 9px;
  font-size: 3vh;
  margin: 3.5vh 0;
  background-color: black;
  color: white;
}

#googleplay_logo {
  width: 30vh;
  align-content: center;
}

/* videos */

#videos {
  padding: 0 5vw;
}

.video_containter, .flashcard_container{
  margin: 8vh ;
}

.video_text > h2, .flashcard_text> h2 {
  font-size: 2.5vw;
  margin: auto;
  margin-bottom: 3vh;
}

.video_text > h4, .flashcard_text > h4 {
  font-size: 1.5vw;
  max-width: 70vw;
  margin: auto;
}

#videoTitle{
  width: 100%;
  margin: 0;
  padding: 0;
}

#videoTitle > h1 {
  background: rgb(229, 243, 30);
  color: navy;
  padding: 4vh 0 2vh 0;
  font-size: 2.5vh;
  font-family: pokemon;
  margin-bottom: 0;
}

#game_video {
  width: 90%;
  margin: 4vh;
  border-radius: 10px;
}

.flashcard_container{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#flashcard_video{
  width: 32%;
  margin: 4vh 0 0 0;
}

.flashcard_text {
 margin: auto;
}


/* about */
#about{
  margin: 0;
}

#title > h1{
  background: rgb(229, 243, 30);;
  color: navy;
  padding: 3vh 0 1.8vh 0;
  font-size: 2.5vh;
  font-family: pokemon;
  margin-bottom: 0;
}

.points > h2 {
  margin: 0;
  padding: 6vh;
}

.points > p {
  margin: 0;
  padding: 2vh 0 8vh 0
}

/* twitter */
#twitterContainer{
  margin: 3vh 20vw;
}

.twitter > h1 {
  width: 100%;
  background: rgb(229, 243, 30);
  color: navy;
  padding: 3vh 0 1.8vh 0;
  font-size: 2.5vh;
  font-family: pokemon;
  margin-bottom: 5vh;
}


/* video float/ */
.vs{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.vp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vt{
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .vt > h2, .flashcard_text > h2{
    width: 100%;
    font-size: 7vw;
    margin: 0 0 1vh 0;
  }

  .vt > h4, .flashcard_text > h4 {
  width: 100%;
  font-size: 5vw;
  margin: 0;
}

#flashcard_video{
  width: 60%;
  margin: 4vh 0 0 0;
}

#game_video {
  width: 90vw;
}
}