.App {
 text-align: center;
}

/* Header */
#header{
  width: 100%;
  padding-bottom: 50%;
  background-position: center;
}



/* QR */
#qrs {
  margin-bottom: 10%;
}

.qr{
  width: 10%;
  height: 10%;
}

.qrContainer{
  margin: 5%;
}