body{
  background:
  linear-gradient(to bottom left,transparent 49.8%,#E0E6E5 50%) top   /100% 35%,
  linear-gradient(to top    left,transparent 49.8%,#E0E6E5 50%) bottom/100% 35%,
  linear-gradient(rgb(230, 226, 224),#E0E6E5) center/100% 30%;
background-repeat:no-repeat;
}

.App {
 text-align: center;
 margin: 0%;
 padding: 0;
 font-family: 'Courier New', Courier, monospace;
}



/* Navbar */
#navbar{
  /* margin-bottom: -15px; */
  /* background-color: rgba(48, 228, 228, 0.678); */
  background-color: rgb(59, 5, 146);
  font-family: pokemon;
}

.inline-block-element{
  display: inline-block;      
  padding: 2px 40px;
  /* color: rgb(107, 9, 172); */
  color: rgb(229, 243, 30);
  font-weight: normal;
  font-size: 2vh;
}


/* Header */
#header{
  width: 100%;
  height: 45vh;
  background-position: top;
  background-size: cover;
  position: relative;
  margin: 0;
  /* margin-bottom: -15px; */
}

.banner-text{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 3vh;
}
.banner-text > h1,h3 {
  margin: 0;
  /* font-family: ; */
}



/* QR */
#qrs {
  /* padding-bottom: 13vh; */
  /* background-color: white; */
}

.qr{
  width: 30vh;
  height: 30vh;
}

#qrs > h1 {
  padding: 4vh 0 2vh 0;
  font-size: 2.5vh;
}

.qrContainer{
  margin: 5%;
  display: inline-block;      
  padding: 2px 40px;
  font-size: 1vh;
}

.qrContainer > h3 {
  padding-bottom: 3vh;
  font-size: 4vh;
}

 #qrtitile {
  margin: 0;
  position: relative;
  background: rgb(229, 243, 30);;
  color: navy;
  font-family: pokemon;
  padding: 5vh 0 2vh 0;
}

#qrtitle > h1 {
  font-size: 3vh;
}

.btn {
  width: 100%;
  height: 8vh;
  border-radius: 9px;
  font-size: 3vh;
  margin: 3.2vh 0;
  background-color: black;
  color: white;
}

#googleplay_logo {
  width: 30vh;
}

/* videos */
#videoTitle > h1 {
  background: rgb(229, 243, 30);;
  color: navy;
  padding: 2vh 0 1.5vh 0;
  font-size: 2.5vh;
  font-family: pokemon;
  margin-bottom: 0;
}

#flashcard_video_container{
  position: relative;
  height: 40vh;
}


#flashcard_video{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%); 

}


/* tweet */

#twitterContainer{
  padding: 10vh;
}

/* about */
#about{
  margin: 0;
}

#title > h1{
  background: rgb(229, 243, 30);;
  color: navy;
  padding: 3vh 0 1.8vh 0;
  font-size: 2.5vh;
  font-family: pokemon;
  margin-bottom: 0;
}

.points > h2 {
  margin: 0;
  padding: 6vh;
}


.points > p {
  margin: 0;
  padding: 2vh 0 8vh 0
}
/* 
background:
linear-gradient(27deg, #89d0e6 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #86e7b2 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, rgb(46, 190, 235) 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, rgb(164, 186, 247) 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #73e4ec 10px, transparent 10px),
linear-gradient(#c2f6fd 25%, #51b4ec 25%, #52e4dd 50%, transparent 50%, transparent 75%, #77c7e7 75%, #d4e5ec);
background-color: rgb(225, 247, 176);
background-size: 20px 20px;  */